usercache.json
usernamecache.json
command_history.json
fieldguide_cache/
saves/
screenshots/
server-resource-packs/
logs/
local/
downloads/
crash-reports/
mods/*.jar
!mods/mods.txt
/mods/.index/
cache/
texturepacks/
shaderpacks/
server-resource-packs/
schematics/
downloads/
defaultconfigs/
coremods/
.mixin.out/
.pg-native/
.sable/
vista_ffmpeg_bin/
vista_web_content_cache/
paxi/
moonlight-global-datapacks/
exposures/
dynamic-data-pack-cache/
dynamic-resource-pack-cache/

*.db
*.env

command_history.txt
usercache.json
usernamecache.json
icon.png
emi.json
vista_ffmpeg_sources.json
temp_image_dump.png
servers.dat
ponders_watched.json
polytone_popup.json
polytone_options.json
.qmenu_opened.marker

*.disabled